<div class="about-us-dialog-container">
  <div class="about section">
    Garmin Analytics is a free Google Chrome extension for visualizing your activities.
    It has been designed to motivate people to do sport more often and enjoy that.
    We're open to your reviews and suggestions and would like to improve our product so that everyone could benefit from that.
  </div>
  <div class="section stand-with-us">
    <div class="title">
      <span>Stand with Ukraine</span>
      <img src="assets/icons/ukraine.png">
    </div>
  </div>
  <div class="contacts-container section">
    <div>Contacts</div>
    <div class="email">Email: volodymyr.budnyi@gmail.com</div>
  </div>
  <div class="icons-credits-container section">
    <div>Icons credits</div>
    <div class="icon-reference">
      <img src="assets/icons/about-us.png">
      <a href="https://www.flaticon.com/free-icons/question" title="question icons">Question icons created by sonnycandra - Flaticon</a>
    </div>
    <div class="icon-reference">
      <img src="assets/icons/curved-arrow.png">
      <a href="https://www.flaticon.com/free-icons/curved-arrow" title="curved arrow icons">Curved arrow icons created by Freepik - Flaticon</a>
    </div>
    <div class="icon-reference">
      <img src="assets/icons/accept.png">
      <a href="https://www.flaticon.com/free-icons/tick" title="tick icons">Tick icons created by kliwir art - Flaticon</a>
    </div>
    <div class="icon-reference">
      <img src="assets/icons/add-widget.png">
      <a href="https://www.flaticon.com/free-icons/application" title="application icons">Application icons created by Creatype - Flaticon</a>
    </div>
    <div class="icon-reference">
      <img src="assets/icons/feedback.png">
      <a href="https://www.flaticon.com/free-icons/feedback" title="feedback icons">Feedback icons created by Freepik - Flaticon</a>
    </div>
    <div class="icon-reference">
      <img src="assets/icons/fire.png">
      <a href="https://www.flaticon.com/free-icons/fire" title="fire icons">Fire icons created by Vectors Market - Flaticon</a>
    </div>
    <div class="icon-reference">
      <img src="assets/icons/flag.png">
      <a href="https://www.flaticon.com/free-icons/start" title="start icons">Start icons created by Freepik - Flaticon</a>
    </div>
    <div class="icon-reference">
      <img src="assets/icons/trophy.png">
      <a href="https://www.flaticon.com/free-icons/trophy" title="trophy icons">Trophy icons created by Freepik - Flaticon</a>
    </div>
    <div class="icon-reference">
      <img src="assets/icons/ukraine.png">
      <a href="https://www.flaticon.com/free-icons/ukraine" title="ukraine icons">Ukraine icons created by Aranagraphics - Flaticon</a>
    </div>
  </div>
</div>