.main-view-container {
  height: 100vh;
  padding-right: 15px;
  
  .gridster-preview {
    border-radius: 15px;
  }

  .grid-view {
    background-color: white;

    .widget-item {
      border-radius: 15px;
    }
  }

  .dock-menu {
    .p-dock {
      .p-dock-action {
        width: 35px;
        height: 35px;
        cursor: pointer;
      }

      .p-dock-item {
        padding-right: 3px;
        padding-left: 5px;
      }

      .p-dock-list {
        padding: 5px 0;
        background-color: rgba(255, 255, 255, 0.9);;
        border-color: lightgray;
      }
    }
  }
}
