.main-view-container {
  height: calc(100vh - 55px);

  .header-menu {
    display: flex;
    justify-content: flex-end;
    margin: 10px;

    .p-button-secondary {
      height: 35px;
    }
  }

  .gridster-preview {
    border-radius: 15px;
  }

  .grid-view {
    background-color: white;

    .widget-item {
      border-radius: 15px;
    }
  }
}
