<div class="main-view-container">
    <gridster class="grid-view" [options]="gridOptions">
        <gridster-item class="widget-item" [item]="widgetPosition[widget.id]" *ngFor="let widget of widgets">
            <app-widget [configs]="widget" [widgetPositionChange]="widgetPositionChange$"
                (removeWidget)="removeWidget(widget.id)" (widgetSizeChange)="widgetSizeChange(widget.id, $event)">
            </app-widget>
        </gridster-item>
    </gridster>
    <p-dock [model]="menuItems" position="bottom" class="dock-menu">
        <ng-template pTemplate="item" let-item>
            <img [src]="item.icon" [alt]="item.label" width="75%">
        </ng-template>
    </p-dock>
</div>