<div class="widget-container">
  <div class="activity">
    <div class="header">{{ configs.title }}</div>
    <ng-container [ngSwitch]="configs.type">
      <app-calendar-heatmap *ngSwitchCase="widgetType.Heatmap" [calendars]="data"></app-calendar-heatmap>
      <app-monthly-summary *ngSwitchCase="widgetType.MonthlySummary" [summaries]="data"></app-monthly-summary>
      <app-streak-days *ngSwitchCase="widgetType.StreakDays" [streakDaysInfo]="data"></app-streak-days> 
    </ng-container>
  </div>
</div>