<div class="widget-container">
  <div class="activity">
    <div class="header">
      <p-selectButton (onOptionClick)="yearOptionsChanged($event)"
        class="year-select" [options]="yearOptions" [(ngModel)]="selectedYears"
        [multiple]="true" optionLabel="label" optionValue="value">
      </p-selectButton>
      <div class="title">{{ configs.title }}</div>
      <i class="pi pi-trash" (click)="removeWidget.emit()"></i>
    </div>
    <ng-container [ngSwitch]="configs.type">
      <app-calendar-heatmap *ngSwitchCase="widgetType.Heatmap" [calendars]="data"></app-calendar-heatmap>
      <app-monthly-summary *ngSwitchCase="widgetType.MonthlySummary" [summaries]="data" [configs]="configs"></app-monthly-summary>
      <app-streak-days *ngSwitchCase="widgetType.StreakDays" [streakDaysInfo]="data" [configs]="configs"></app-streak-days> 
    </ng-container>
  </div>
</div>