.widget-container {
  .activity {
    margin: 15px;
    border: 1px solid gainsboro;
    width: fit-content;
    border-radius: 15px;

    .header {
      padding: 8px;
      background-color: whitesmoke;
      border-radius: 15px 15px 0 0;
      border-bottom: 1px solid gainsboro;
      margin-bottom: 10px;
      position: relative;

      .title {
        display: flex;
        justify-content: center;
      }

      .year-select {
        position: absolute;
        right: 45px;
        top: 8px;

        .p-button {
          padding: 2px 5px;
          font-size: 10px;
        }

        .p-selectbutton .p-button.p-highlight {
          background-color: slategray;
          border-color: slategray;
        }
      }

      .pi {
        position: absolute;
        right: 15px;
        top: 15px;
        font-size: 12px;
        margin-left: 5px;
        cursor: pointer;
      }
    }
  }
}