<div class="monthly-summary-container">
    <div class="year-summary" *ngFor="let yearSummary of summaries">
        <app-progress-circle *ngFor="let monthSummary of yearSummary.months" [value]="monthSummary.value"
            [subValue]="'of ' + (configs.countType === countType.Days ? monthSummary.daysInMonth : configs.target)"
            [title]="months[monthSummary.index]" [percent]="monthSummary.completedPercent"></app-progress-circle>
        <app-progress-circle [value]="yearSummary.total"
            [subValue]="'of ' + (configs.countType === countType.Days ? yearSummary.daysInYear : configs.target * 12)"
            title="Total" [percent]="yearSummary.completedPercent"></app-progress-circle>
    </div>
</div>