.monthly-summary-container {
  margin-bottom: 2px;

  &.size-2 {
    padding: 8px 0 7px 0;
  }

  .year-line {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px 15px;

    .line {
      width: 100%;
      height: 1px;
      background-color: lightgray;
      margin: 3px 0;
    }

    .value {
      color: gray;
      font-size: 10px;
      margin: 0 10px
    }
  }

  &.size-3 {
    .year-line {
      margin: -3.5px 15px;
    }
  }

  .year-summary {
    display: flex;
    max-width: 800px;
    flex-wrap: wrap;
  }
}